<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<title>{% block title %}Today->What's Stock{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" mb-5>
   <div class="container-fluid">
    <a class="navbar-brand {% if nav == 'home' %}active{% endif %}" href="#">HOME</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
            <li class="nav-item">
            <a class="nav-link" href="#">NEWS</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'request' %}">PREDICT</a>
            </li>
        </ul>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="NHAP TU KHOA">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% if not user.is_authenticated %}
        <ul class="navbar-nav ml-4">
            
            <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" >LOGIN</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}" >REGISTRY</a>
            </li>
        </ul>
        {% else %}
              <ul class="navbar-nav ml-4">
                  <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}" >PROFILE</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout_ok' %}" >LOGOUT</a>
                  </li>
              </ul>
        {% endif %}
    </div>
  </div>
</nav>

{% block content %} {% endblock%}

</body>
</html>